POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=123
DB_HOST=
DB_PORT=5432
NIKITA_LOGIN=
NIKITA_PASSWORD=
NIKITA_SENDER=
NIKITA_TEST=
NIKITA_URL=
REDIS_HOST=
REDIS_PORT=
FIREBASE_APPLICATION_CREDENTIALS=/Users/admin/Desktop/backend/main/firebase_creds/firebase_cred.json
DEBUG=

PAYBOX_SECRET_KEY=
PAYBOX_MERCHANT_ID=
PAYBOX_TEST_MODE=
PAYBOX_RESULT_URL=
PAYBOX_PAYMENT_LIFETIME_SEC=